body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

.bg-dark {
  background-color: #343a40;
}

li.list-group-item.list-group-item-action.active {
  background-color: #343a40;
  border-color: #343a40;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}
